In [25]:
msg = "hello"
print(msg)

hello

In [26]:
if 5 > 2:
 print("Five is greater than two!")  
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [27]:
#This is a comment 
print("this is a print statement") #This is a comment 

#This is a comment
#written in
#more than just one line

this is a print statement

In [28]:
"""
This is a comment
written in
more than just one line
"""

print("test")

test

In [29]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [30]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [31]:
#Casting
#If you want to specify the data type of a variable this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [32]:
"""
Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:
"""
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [35]:
"""
One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:
"""
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange