In [16]:
msg = "hello"
print(msg)

hello

In [17]:
if 5 > 2:
 print("Five is greater than two!")  
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [18]:
#This is a comment 
print("this is a print statement") #This is a comment 

#This is a comment
#written in
#more than just one line

this is a print statement

In [19]:
"""
This is a comment
written in
more than just one line
"""

print("test")

test

In [20]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [21]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [22]:
#Casting
#If you want to specify the data type of a variable this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [23]:
"""
Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:
"""
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [24]:
"""
One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:
"""
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [25]:
"""
Unpack a Collection
If you have a collection of values in a list, tuple etc. 
Python allows you to extract the values into variables. 
This is called unpacking.
"""
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [26]:
#Tuples - Tuples are used to store multiple items in a single variable.
#A tuple is a collection which is ordered and unchangeable.
#Tuples are written with round brackets.

thistuple = ("apple", "banana", "cherry")
print(thistuple)
#You can access tuple items by referring to the index number, inside square brackets:
print(thistuple[1])

('apple', 'banana', 'cherry')
banana

In [27]:
#Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
#Print range of indexes:
thistuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple2[2:5])
#This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple3 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple3[:4])
#This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [28]:
# importing matplotlib module 
from matplotlib import pyplot as plt 
 
# x-axis values 
x = [5, 2, 9, 4, 7] 
 
# Y-axis values 
y = [10, 5, 8, 4, 2] 
 
# Function to plot 
plt.plot(x, y) 
 
# function to show the plot 
plt.show()

ModuleNotFoundError: No module named 'matplotlib'